.env
client.py
clientMes.py
server.py
serverMes.py
cert.pem
key.pem

server.py# Virtual environment
venv/
env/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

# IDE files
.vscode/
.idea/
*.iml
*.pyc

# Environment variables
.env

# Compiled Python files
*.pyc

# Dependency directories
node_modules/
/dist/